SERVER_PORT=
SPRING_APPLICATION_NAME=roadmap-service
CONFIG_SERVER_URL=
SPRING_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=
# ============
# Database Config
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER_CLASS_NAME=
